html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}

.header{
    display: block;
    width: 100%;
    -webkit-box-shadow: 0px 170px 63px 52px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 170px 63px 52px rgba(0,0,0,0.3);
    box-shadow: 0px 170px 63px 52px rgba(0,0,0,0.3);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.wrapper{
    display: block;
    width: 970px;
    margin: 0 auto;
    position: relative;
}
.top_header{
    display: block;
    height: 28px;
    border-top: 1px solid #180806;
    border-bottom: 1px solid #450f08;
    background: rgb(15, 2, 0);
    background: -moz-linear-gradient(90deg, rgb(15, 2, 0) 30%, rgb(59, 9, 2) 70%);
    background: -webkit-linear-gradient(90deg, rgb(15, 2, 0) 30%, rgb(59, 9, 2) 70%);
    background: -o-linear-gradient(90deg, rgb(15, 2, 0) 30%, rgb(59, 9, 2) 70%);
    background: -ms-linear-gradient(90deg, rgb(15, 2, 0) 30%, rgb(59, 9, 2) 70%);
    background: linear-gradient(180deg, rgb(15, 2, 0) 30%, rgb(59, 9, 2) 70%);
    position: relative;
}
.nav_1{
    float: left;
    overflow: hidden;
    line-height: 28px;
}
.nav_1 li{
    display: inline-block;
    margin-right: 30px;
}
.nav_1 li a{
    position: relative;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #c0c0c0;
}
.nav_1 li a::after{
    content: '';
    width: 3px;
    height: 3px;
    background: #c0c0c0;
    position: absolute;
    bottom: 3px;
    right:  -12px;
    border-right: 1px solid #5b514f;
    border-left: 1px solid #5b514f;
}
.nav_1 li:last-child a::after{
    display: none;
}
.menu{
    float: right;
    display: none;
    width: 50px;
    height: 50px;
    background: blue;
}
.menu a {
	display: block;
	width: 100%;
	height: 100%;
}



.help{
    position: absolute;
    display: block;
    width: 240px;
    top: 1px;
    right: 80px;
}
.help div{
    display: inline-block;
    margin-left: 72px;
    cursor: pointer;
}
.help div:first-child{
    margin-left: 0;
}
.help div span{
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    display: inline-block;
    line-height: 28px;
}
.help div:first-child span::before{
    position: absolute;
    top: 2px;
    left: -30px;
    content: url(../images/phohe_top.png);
}
.help div:last-child span::before{
    position: absolute;
    top: 2px;
    left: -40px;
    content: url(../images/layer_48.png);
}
.language{
    display: block;
    width: 56px;
    position: absolute;
    top: 4px;
    right: 0;
}
.language div{
    display: inline-block;
    margin-left: 12px;
}
.language div:first-child{
    margin-left: 0;
}
.mid_header .gradient{
    display: block; 
}
.mid_header{
    width: 100%;
    height: 98px;
    border-top: 1px solid #fe9493;
    border-bottom: 1px solid #fa8749;
    background: rgb(221, 117, 121);
    background: -moz-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
    background: -webkit-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
    background: -o-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
    background: -ms-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
    background: linear-gradient(180deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
}
.mid_header .items{
    float: left;
    margin-right: 100px;
}
.mid_header .items img{
    float: left;
}
.mid_header .items p{
    float: right;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 14px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.mid_header .items span{
    float: right;
    clear: right;
    width: 112px;
    height: 20px;
    border-radius: 10px;
    background: #b20e00;
    text-align: center;
    cursor: pointer;
    border: 1px inset #3d0500;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 800;
    color: #ffc200;
    margin-top: 10px;
}
.logo{
    overflow: hidden;
    width: 233px;
    margin-top: 4px;
}
.search{
    float: right;
    overflow: hidden;
    margin-top: -72px;
}
.search form input:first-child{
    width: 210px;
    height: 24px;
    border: 1px inset #42413e;
    border-radius: 10px 0 0 10px;
    border-left: none;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #3a3a3a;
    padding: 4px 20px 0 20px;
}
.search form input:last-child{
    width: 40px;
    height: 30px;
    border: 1px inset #42413e;
    border-radius: 0 10px 10px 0;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 700;
    color: #f2db3c;
    margin-left: -4px;
    cursor: pointer;
    background: rgb(174, 104, 104);
    background: -moz-linear-gradient(90deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%);
    background: -webkit-linear-gradient(90deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%);
    background: -o-linear-gradient(90deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%);
    background: -ms-linear-gradient(90deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%);
    background: linear-gradient(180deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%); 
}
.bot_header{
    display: block;
    height: 34px;
    padding-top: 10px;
    width: 100%;
    background: rgb(167, 22, 3);
    background: -moz-linear-gradient(90deg, rgb(167, 22, 3) 33%, rgb(99, 14, 2) 56%);
    background: -webkit-linear-gradient(90deg, rgb(167, 22, 3) 33%, rgb(99, 14, 2) 56%);
    background: -o-linear-gradient(90deg, rgb(167, 22, 3) 33%, rgb(99, 14, 2) 56%);
    background: -ms-linear-gradient(90deg, rgb(167, 22, 3) 33%, rgb(99, 14, 2) 56%);
    background: linear-gradient(180deg, rgb(167, 22, 3) 33%, rgb(99, 14, 2) 56%);
    border-bottom: 1px solid #400801;
}
.nav2{
    display: flex;
    justify-content: space-around;
}
.nav2 div a{
    height: 26px;
    padding: 0 16px;
    line-height: 26px;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
.nav2 div a:hover{
    height: 26px;
    padding: 0 16px;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #ffab63;
    background: rgb(254, 97, 97);
    background: -moz-linear-gradient(90deg, rgb(254, 97, 97) 30%, rgb(99, 14, 2) 70%);
    background: -webkit-linear-gradient(90deg, rgb(254, 97, 97) 30%, rgb(99, 14, 2) 70%);
    background: -o-linear-gradient(90deg, rgb(254, 97, 97) 30%, rgb(99, 14, 2) 70%);
    background: -ms-linear-gradient(90deg, rgb(254, 97, 97) 30%, rgb(99, 14, 2) 70%);
    background: linear-gradient(180deg, rgb(254, 97, 97) 30%, rgb(99, 14, 2) 70%);
}
.main{
    display: block;
    padding: 24px 0 20px 0;
    overflow: hidden;
}
.main .wrapper{
    -webkit-box-shadow: 0px -30px 20px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -30px 20px 10px rgba(0,0,0,0.15);
    box-shadow: 0px -30px 20px 10px rgba(0,0,0,0.15);
    border-radius: 28px 28px 0 0;
    background: #fff;
}
.banner{
    float: right;
    width: 950px;
    margin: 10px 10px 0 10px;
    position: relative;
}
.banner .banner_img{
    text-align: center;
}
.banner .banner_img img{
    margin-top: 11px;
}
.gradient1{
    display: block;
    top: 10px;
    height: 210px;
    background: rgb(73, 182, 238);
    background: -moz-linear-gradient(90deg, rgb(73, 182, 238) 31%, rgb(255, 255, 255) 87%);
    background: -webkit-linear-gradient(90deg, rgb(73, 182, 238) 31%, rgb(255, 255, 255) 87%);
    background: -o-linear-gradient(90deg, rgb(73, 182, 238) 31%, rgb(255, 255, 255) 87%);
    background: -ms-linear-gradient(90deg, rgb(73, 182, 238) 31%, rgb(255, 255, 255) 87%);
    background: linear-gradient(180deg, rgb(73, 182, 238) 31%, rgb(255, 255, 255) 87%);
    border-radius: 18px 18px 0 0;
}
.gradient2{
    display: block;
    height: 144px;
    bottom: 10px;
    background: rgb(204, 222, 140);
    background: -moz-linear-gradient(90deg, rgb(204, 222, 140) 56%, rgb(204, 218, 148) 68%);
    background: -webkit-linear-gradient(90deg, rgb(204, 222, 140) 56%, rgb(204, 218, 148) 68%);
    background: -o-linear-gradient(90deg, rgb(204, 222, 140) 56%, rgb(204, 218, 148) 68%);
    background: -ms-linear-gradient(90deg, rgb(204, 222, 140) 56%, rgb(204, 218, 148) 68%);
    background: linear-gradient(180deg, rgb(204, 222, 140) 56%, rgb(204, 218, 148) 68%);
}
.txt{
    position: absolute;
    top: 302px;
    left: 0;
    width: 950px;
    height: 52px;
    background: #000;
    z-index: 50;
    opacity: 0.7;
    margin: 0 10xp;
    display: flex;
    justify-content: space-around;
}
.txt h3{
    font-family: 'Arial';
    font-size: 25px;
    font-weight: 700;
    color: #ffc600;
    line-height: 52px;
    margin-left: 24px;
    text-shadow: 1px 0 #977818;
}
.txt p{
    display: block;
    width: 660px;
    margin-top: 8px;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.cont{
    padding: 10px;
    background: #fff;
    width: 950px;
    margin-top: -4px;
    overflow: hidden;
}
.sidebar{
    float: left;
    width: 220px;
}
.categories{
    display: block;
    margin-bottom: 20px;
    border: 0 0 10px 10px;
}
.categories li{
    display: block;
    width: 208px;
    height: 28px;
    border-left: 1px solid #f3dc94;
    border-right: 1px solid #f3dc94;
    text-align: left;
    line-height: 28px;
    position: relative;
    background: #ffeeb7;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.categories li:after{
    content: '';
    width: 90%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 5%;
}
.categories li:first-child:after{
    display: none;
}
.categories li:first-child{
    border: none;
    width: 210px;
    text-align: center;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #fff;
    background: rgb(221, 118, 122);
    background: -moz-linear-gradient(90deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
    background: -webkit-linear-gradient(90deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
    background: -o-linear-gradient(90deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
    background: -ms-linear-gradient(90deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
    background: linear-gradient(180deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
}
.categories li:nth-child(2){
    height: 44px;
    line-height: 54px;
}
.categories li:last-child:after{
    display: none;
}

.categories li:last-child{
    border-radius: 0 0 10px 10px;
    height: 44px;
    line-height: 24px;
}
.categories li a{
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 700;
    color: #434343;
    position: relative;
    margin-left: 40px;
}
.categories li a:hover{
    color: #b20e00;
}
.socialNetwork{
    background: #f5f5f2;
    width: 208px;
    border: 1px solid #e8e8e3;
    border-radius: 10px;
}
.socialNetwork li{
    height: 46px;
}
.socialNetwork li:first-child{
    height: 132px;
}
.socialNetwork li:first-child h5{
    margin: 14px 20px 0 20px;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 400;
    color: #434343;
    text-align: center;
}
.socialNetwork li:first-child form{
    display: block;
    text-align: center;
    margin-top: 12px;
}
.socialNetwork li:first-child form input{
    width: 176px;
    border-top: 1px solid #9c9c9c;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #c0c0c0;
    height: 24px;
    
}
.socialNetwork li:first-child form .butt_soc{
    width: 88px;
    height: 26px;
    background: rgb(221, 118, 122);
    background: -moz-linear-gradient(90deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
    background: -webkit-linear-gradient(90deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
    background: -o-linear-gradient(90deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
    background: -ms-linear-gradient(90deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
    background: linear-gradient(180deg, rgb(221, 118, 122) 40%, rgb(202, 42, 39) 50%);
    border-radius: 4px;
    border: none;
    margin-top: 8px;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
}
.socialNetwork li a{
    display: block;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #434343;
    padding: 0 7px;
    position: relative;
}
.socialNetwork li a:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 8px;
    width: 192px;
    height: 1px;
    background: #fff;
}
.socialNetwork li:last-child a:after{display: none;}
.socialNetwork li a img{
    overflow: hidden;
    float: left;
    margin-right: 30px;
    margin-left: 10px;
}
.socialNetwork li a p{
    line-height: 16px;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #434343;
}
.socialNetwork li:nth-child(2) a p{
    line-height: 32px;
}
.socialNetwork li:last-child{
    height: 48px;
}
.paypal{
    display: block;
}
.paypal img:first-child{
    margin-left: 8px;
}
.paypal img:nth-child(2){
    margin-left: 17px;
}
.paypal img:last-child{
    margin-top: 10px;
    margin-left: 56px;
}
.content{
    float: right;
    width: 720px;
}
.sel{
    float: left;
    overflow: hidden;
}
.sel label{
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 400;
    color: #747474;
    margin-right: 10px;
    line-height: 18px;
}
.sel select{
    display: inline-block;
    width: 118px;
    height: 18px;
    border: 1px solid #cccccc;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    background-image: url(../images/select.png);
    background-position: right center;
    background-repeat: no-repeat;
    z-index: 10;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 400;
    color: #747474;
    padding-left: 5px;
    margin-right: 10px;
}
.itemsPerPage{
    float: right;
}
.itemsPerPage p{
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 400;
    color: #747474;
}
.itemsPerPage span{
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 400;
    color: #747474;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0 6px;
}
.itemsPerPage .perPage:active{
    color: #b20e00;
}
.content .ourP{
    display: block;
    margin-top: 48px;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 600;
    color: #292929;
}
.content .Tab{
border-bottom: 1px solid #cdcdc8;
    padding-bottom: 5px;
}
.content .Tab .t1{
    display: flex;
    flex-wrap: wrap;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.content .Tab .t1 li{
    overflow: hidden;
    width: 156px;
    margin-top: 14px; 
    margin-right: 30px;
    margin-bottom: 14px;
}
.content .Tab .t1 li:nth-child(4n+4){
    margin-right: 0;
}
.content .Tab .t1 li img{
    border: 1px solid #c6c6c6;
    margin-bottom: 10px;
    cursor: pointer;
}
.content .Tab .t1 li h5{
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 700;
    color: #292929;
    cursor: pointer;
}
.content .Tab .t1 li p{
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #292929;
    cursor: pointer;
}
.content .Tab .t1 li span{
    color: #b20e00;
}
.content .Tab .tabs{
    display: block;
    width: 100%;
    text-align: center;
}
.content .Tab .tabs li{
    display: inline-block;
    margin: 0 5px;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 400;
    color: #b20e00;
    cursor: pointer;
    padding: 6px 8px 2px 8px;
}
.content .Tab .tabs li:active{
    background: #b20e00;
    color: #ffffff;
}
.fp_slide{
    display: block;
    margin-top: 20px;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 600;
    color: #292929;
}
.content .slider{
    display: block;
}
.footer{
    display: block;
    overflow: hidden;
}
.footer .top_footer{
    width: 100%;
    height: 61px;
    border-bottom: 1px solid #e23a39;
    background: rgb(14, 2, 0);
    background: -moz-linear-gradient(90deg, rgb(14, 2, 0) 30%, rgb(61, 9, 2) 70%);
    background: -webkit-linear-gradient(90deg, rgb(14, 2, 0) 30%, rgb(61, 9, 2) 70%);
    background: -o-linear-gradient(90deg, rgb(14, 2, 0) 30%, rgb(61, 9, 2) 70%);
    background: -ms-linear-gradient(90deg, rgb(14, 2, 0) 30%, rgb(61, 9, 2) 70%);
    background: linear-gradient(180deg, rgb(14, 2, 0) 30%, rgb(61, 9, 2) 70%);
}
.footer .top_footer .wrapper{
    display: flex;
    justify-content: space-between;
}
.footer .top_footer .secured{
    display: inline-block;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.footer .top_footer .secured p{
    display: inline-block;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    position: relative;
    line-height: 61px;
    margin-left: 84px;
}
.footer .top_footer .secured p:before{
    position: absolute;
    left: -70px;
    bottom: -24px;
    content: url(../images/layer_40.png);
}
.footer .top_footer .mail{
    display: inline-block;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.footer .top_footer .mail p{
    display: inline-block;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    position: relative;
    line-height: 61px;
}
.footer .top_footer .mail p:before{
    position: absolute;
    left: -70px;
    bottom: -10px;
    content: url(../images/layer_41.png);
}
.footer .top_footer form{
    display: inline-block;
    line-height: 60px;
}
.footer .top_footer form input:first-child{
    width: 210px;
    height: 24px;
    border: 1px inset #42413e;
    border-radius: 10px 0 0 10px;
    border-left: none;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #3a3a3a;
    padding: 4px 20px 0 20px;
}
.footer .top_footer form input:last-child{
    width: 40px;
    height: 30px;
    line-height: 29px;
    border: 1px inset #42413e;
    border-radius: 0 10px 10px 0;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 700;
    color: #f2db3c;
    margin-left: -4px;
    cursor: pointer;
    background: rgb(174, 104, 104);
    background: -moz-linear-gradient(90deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%);
    background: -webkit-linear-gradient(90deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%);
    background: -o-linear-gradient(90deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%);
    background: -ms-linear-gradient(90deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%);
    background: linear-gradient(180deg, rgb(174, 104, 104) 44%, rgb(130, 16, 16) 55%); 
}
.bot_footer{
    padding-bottom: 34px;
    position: relative;
    background: rgb(168, 23, 4);
    background: -moz-linear-gradient(90deg, rgb(168, 23, 4) 30%, rgb(96, 13, 2) 70%);
    background: -webkit-linear-gradient(90deg, rgb(168, 23, 4) 30%, rgb(96, 13, 2) 70%);
    background: -o-linear-gradient(90deg, rgb(168, 23, 4) 30%, rgb(96, 13, 2) 70%);
    background: -ms-linear-gradient(90deg, rgb(168, 23, 4) 30%, rgb(96, 13, 2) 70%);
    background: linear-gradient(180deg, rgb(168, 23, 4) 30%, rgb(96, 13, 2) 70%);
}
.time{
    position: absolute;
    right: 0;
    bottom: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.time span{
    display: block;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.bot_footer .wrapper{
    display: flex;
    justify-content: space-between;
}
.bot_footer ul{
    padding: 0 10px;
    margin-top: 32px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.bot_footer ul li a{
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #cfcfcf;
}
.bot_footer ul li a span{
    color: #ffcc00;
    margin-left: 4px;
}
.bot_footer ul li{
    margin-bottom: 8px;
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #cfcfcf;
}
.bot_footer ul li:first-child{
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 28px;
}
/*************************************************************/
@media screen and (min-width: 400px) and (max-width: 999px) {
    .wrapper{
        width: 100%;
    }
    .top_header{
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    
    .help{
        float: left;
    }
    .help div:first-child{
        display: none;
    }
    .menu { 
        display: block;
        width: 40px;
        height: 20px;
        position: absolute;
        top: 4px;
        right: 20px;
        background: none;
        z-index: 100;
    }
    .language{
        right: 100px;
    }
    .menu .hamburger{
        display: block;
        width: 40px;
        height: 4px;
        background: #475a85;
        margin-bottom: 4px;
        -webkit-border-radius: 2px;
        border-radius: 2px; 
        cursor:pointer; 
    }
    .menu .hamburger:last-child{
        margin-bottom: 0;
    }
	.nav_1 {
		position: absolute;
		display: none;
		float: none;
		top: 24px;
		width: 100%;
		padding: 10px 0;
	}
    .nav_1 li{
        display: block;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #cdcdcd;
    }
    .nav_1 li a{
        color: #ffffff;
        font-family: Open Sans, sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
	.nav_1.active { 
        display: block;
        width: 50%;
        background: rgb(221, 117, 121);
        background: -moz-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: -webkit-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: -o-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: -ms-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: linear-gradient(180deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        position: absolute;
        right: 0;
        z-index: 10000;
        -webkit-border-radius: 0 0 8px 8px;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 5px;
    }
    .nav_1.active li a:after{
        display: none;
    }
    .nav_1.active a:hover{
        color: #f2db3c;
    }
    .mid_header {
        text-align: center;
        width: 100%;
        height: 62px;
        position: fixed;
        z-index: 100;
    }
    .mid_header .items{
        display: none;
    }
    .mid_header .logo{
        display: none;
    }
    .mid_header .search{
        display: block;
        margin-top: 30px;
        width: 100%;
    }
    .bot_header{
        display: none;
    }
    .main{
        padding: 0;
        width: 100%;
    }
    .main .wrapper{
        display: block;
        width: 100%;
    }
    .main .banner{
        display: none;
    }
    .main .cont{
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .main .sidebar{
        width: 40%;
        padding: 0 5%;
    }
    .main .sidebar .categories{
        width: 100%;
        margin-top: 58px;
    }
    .main .sidebar .categories li{
        width: 100%;
        border: none;
        text-align: left;
    }
    .main .sidebar .categories li:first-child{
        width: 100%;
        border: none;
        text-align: center;
    }
    .main .sidebar .categories li a{
        margin-left: 20px;
    }
    .main .sidebar .socialNetwork{
        display: none;
    }
    .main .sidebar .paypal{
        display: none;
    }
    .content{
        display: block;
        width: 44%;
        margin-right: 6%;
    }
    .content .sel{
        width: 100%;
        margin-top: 63px;
        flex-wrap: wrap;
        padding-bottom: 4px;
    }
    .sel{
        display: block;
        float: none;
    }
    
    .content label{
        display: block;
    }
    
    .content .itemsPerPage{
        display: none;
    }
    .content .ourP{
        display: none;
    }
    .content .Tab{
        display: none;
    }
    .footer{
        display: block;
        height: 60px;
    }
    .footer .top_footer{
        display: none;
    }
    .footer .bot_footer{
        display: block;
        text-align: center;
    }
    .footer .bot_footer .company{display: none;}
    .footer .bot_footer .categories2{display: none;}
    .footer .bot_footer .information{display: none;}
    .footer .bot_footer .social{display: none;}
    .footer .bot_footer .contactUs{display: none;}
    .time{
        display: block;
        position: static;
        width: 100%;
        margin-top: 20px;
        
    }
    .arrow{
        display: block;
        width: 27px;
        position: fixed;
        bottom: 20px;
        right: 20px;  
    }
    .arrow .top{display: block;}
    .arrow .top span{
        display: block;
        opacity: 0.3;
    }
    .arrow .top span:hover{
        display: block;
        opacity: 1;
    }
}
/*************************************************************/
@media screen and (min-width: 320px) and (max-width: 399px) {
    .wrapper{
        width: 100%;
    }
    .top_header{
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    
    .help{
        float: left;
    }
    .help div:first-child{
        display: none;
    }
    .menu { 
        display: block;
        width: 40px;
        height: 20px;
        position: absolute;
        top: 4px;
        right: 20px;
        background: none;
        z-index: 100;
    }
    .language{
        right: 100px;
    }
    .menu .hamburger{
        display: block;
        width: 40px;
        height: 4px;
        background: #475a85;
        margin-bottom: 4px;
        -webkit-border-radius: 2px;
        border-radius: 2px; 
        cursor:pointer; 
    }
    .menu .hamburger:last-child{
        margin-bottom: 0;
    }
	.nav_1 {
		position: absolute;
		display: none;
		float: none;
		top: 24px;
		width: 100%;
		padding: 10px 0;
	}
    .nav_1 li{
        display: block;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #cdcdcd;
    }
    .nav_1 li a{
        color: #ffffff;
        font-family: Open Sans, sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
	.nav_1.active { 
        display: block;
        width: 50%;
        background: rgb(221, 117, 121);
        background: -moz-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: -webkit-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: -o-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: -ms-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: linear-gradient(180deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        position: absolute;
        right: 0;
        z-index: 10000;
        -webkit-border-radius: 0 0 8px 8px;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 5px;
    }
    .nav_1.active li a:after{
        display: none;
    }
    .nav_1.active a:hover{
        color: #f2db3c;
    }
    .mid_header {
        text-align: center;
        width: 100%;
        height: 62px;
        position: fixed;
        z-index: 100;
    }
    .mid_header .items{
        display: none;
    }
    .mid_header .logo{
        display: none;
    }
    .mid_header .search{
        display: block;
        margin-top: 30px;
        width: 100%;
    }
    .bot_header{
        display: none;
    }
    .main{
        padding: 0;
        width: 100%;
    }
    .main .wrapper{
        display: block;
        width: 100%;
    }
    .main .banner{
        display: none;
    }
    .main .cont{
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .main .sidebar{
        width: 90%;
        padding: 0 5%;
        background: #d9d7d2;
    }
    .main .sidebar .categories{
        width: 100%;
        margin-top: 58px;
    }
    .main .sidebar .categories li{
        width: 100%;
        border: none;
        text-align: left;
    }
    .main .sidebar .categories li:first-child{
        width: 100%;
        border: none;
        text-align: center;
    }
    .main .sidebar .categories li a{
        margin-left: 20px;
    }
    .main .sidebar .socialNetwork{
        display: none;
    }
    .main .sidebar .paypal{
        display: none;
    }
    .content{
        display: block;
        width: 100%;
    }
    .content .sel{
        width: 100%;
        flex-wrap: wrap;
        background: rgb(221, 117, 121);
        background: -moz-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: -webkit-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: -o-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: -ms-linear-gradient(90deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        background: linear-gradient(180deg, rgb(221, 117, 121) 43%, rgb(204, 42, 39) 60%);
        padding-bottom: 4px;
    }
    .sel{
        display: block;
        float: none;
    }
    .sel select{
        margin-top: 10px;
    }
    .content label{
        display: block;
    }
    .content .sel select:last-child{
        margin-top: 10px;
    }
    .content .itemsPerPage{
        display: none;
    }
    .content .ourP{
        display: none;
    }
    .content .Tab{
        display: none;
    }
    .footer{
        display: block;
        height: 60px;
    }
    .footer .top_footer{
        display: none;
    }
    .footer .bot_footer{
        display: block;
        text-align: center;
    }
    .footer .bot_footer .company{display: none;}
    .footer .bot_footer .categories2{display: none;}
    .footer .bot_footer .information{display: none;}
    .footer .bot_footer .social{display: none;}
    .footer .bot_footer .contactUs{display: none;}
    .time{
        display: block;
        position: static;
        width: 100%;
        margin-top: 20px;
        
    }
    .arrow{
        display: block;
        width: 27px;
        position: fixed;
        bottom: 20px;
        right: 20px;  
    }
    .arrow .top{display: block;}
    .arrow .top span{
        display: block;
        opacity: 0.3;
    }
    .arrow .top span:hover{
        display: block;
        opacity: 1;
    }
}












